replicaCount: 1
image:
  repository: barca105/gateway-rs
  pullPolicy: IfNotPresent
  tag: v0.2.1-main-296180bc464f7c7545606e3ecd2bacf15dd6e560
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "gateway"
podAnnotations:
  vault.hashicorp.com/agent-inject: 'true'
  vault.hashicorp.com/agent-inject-secret-gateway: 'secret/data/gateway-config'
  vault.hashicorp.com/role: 'gateway'
  vault.hashicorp.com/agent-inject-path: "/vault/secrets"
  vault.hashicorp.com/agent-inject-template-gateway: |
    {{- with secret "secret/data/gateway-config" -}}
    export KEYCLOAK_AUTH_SERVER_URL={{ .Data.data.KEYCLOAK_AUTH_SERVER_URL }}
    export KEYCLOAK_REALM={{ .Data.data.KEYCLOAK_REALM }}
    export KEYCLOAK_CLIENT_ID={{ .Data.data.KEYCLOAK_CLIENT_ID }}
    export KEYCLOAK_CLIENT_SECRET={{ .Data.data.KEYCLOAK_CLIENT_SECRET }}
    export CALLBACK_URL={{ .Data.data.CALLBACK_URL }}
    export REDIS_URL={{ .Data.data.REDIS_URL }}
    {{- end }}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8080
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: calmhlynn.com
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              - name: gateway-rs
                port: 80
  tls:
    - secretName: gateway-tls
      hosts:
        - calmhlynn.com
resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
